<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>base</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>22</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>comma</key>
      <dict>
        <key>position</key>
        <integer>-230</integer>
        <key>width</key>
        <integer>39</integer>
        <key>top</key>
        <false/>
      </dict>
      <key>xhgt</key>
      <dict>
        <key>position</key>
        <integer>430</integer>
        <key>width</key>
        <integer>29</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>asc</key>
      <dict>
        <key>position</key>
        <integer>712</integer>
        <key>width</key>
        <integer>2</integer>
        <key>top</key>
        <true/>
      </dict>
      <key>caps</key>
      <dict>
        <key>position</key>
        <integer>723</integer>
        <key>width</key>
        <integer>31</integer>
        <key>top</key>
        <true/>
      </dict>
    </dict>
    <key>stems</key>
    <dict>
      <key>46</key>
      <dict>
        <key>width</key>
        <integer>46</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>52</key>
      <dict>
        <key>width</key>
        <integer>52</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>56</key>
      <dict>
        <key>width</key>
        <integer>56</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>62</key>
      <dict>
        <key>width</key>
        <integer>62</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>66</key>
      <dict>
        <key>width</key>
        <integer>66</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>70</key>
      <dict>
        <key>width</key>
        <integer>70</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>74</key>
      <dict>
        <key>width</key>
        <integer>74</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>78</key>
      <dict>
        <key>width</key>
        <integer>78</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>82</key>
      <dict>
        <key>width</key>
        <integer>82</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>85</key>
      <dict>
        <key>width</key>
        <integer>85</integer>
        <key>horizontal</key>
        <true/>
      </dict>
      <key>60</key>
      <dict>
        <key>width</key>
        <integer>60</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>62</key>
      <dict>
        <key>width</key>
        <integer>62</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>66</key>
      <dict>
        <key>width</key>
        <integer>66</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>70</key>
      <dict>
        <key>width</key>
        <integer>70</integer>
        <key>horizontal</key>
        <false/>
      </dict>
      <key>75</key>
      <dict>
        <key>width</key>
        <integer>75</integer>
        <key>horizontal</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>A</string>
    <string>AE</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>Germandbls</string>
    <string>H</string>
    <string>Hbar</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>J</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scommaaccent</string>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcommaaccent</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>V</string>
    <string>W</string>
    <string>Wcircumflex</string>
    <string>X</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>ae</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>brevecomb</string>
    <string>bullet</string>
    <string>c</string>
    <string>cacute</string>
    <string>caron</string>
    <string>caroncomb</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cedilla</string>
    <string>cedillacomb</string>
    <string>cent</string>
    <string>circumflex</string>
    <string>circumflexcomb</string>
    <string>colon</string>
    <string>comma</string>
    <string>commaaccentcomb</string>
    <string>copyright</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>degree</string>
    <string>demiflat</string>
    <string>demisharp</string>
    <string>dieresis</string>
    <string>dieresiscomb</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccentcomb</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>eight</string>
    <string>ellipsis</string>
    <string>emacron</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eogonek</string>
    <string>equal</string>
    <string>eth</string>
    <string>euro</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f</string>
    <string>five</string>
    <string>four</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>guillemetleft</string>
    <string>guillemetright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hungarumlautcomb</string>
    <string>hyphen</string>
    <string>i</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>idotless</string>
    <string>igrave</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>j</string>
    <string>jdotless</string>
    <string>k</string>
    <string>kcommaaccent</string>
    <string>l</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>less</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>macroncomb</string>
    <string>minus</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>nbspace</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>nine</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ogonekcomb</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>one</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>plus</string>
    <string>q</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>registered</string>
    <string>ringcomb</string>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scommaaccent</string>
    <string>section</string>
    <string>semicolon</string>
    <string>sesquiflat</string>
    <string>sesquisharp</string>
    <string>seven</string>
    <string>six</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>t</string>
    <string>tcaron</string>
    <string>tcommaaccent</string>
    <string>thorn</string>
    <string>three</string>
    <string>tildecomb</string>
    <string>trademark</string>
    <string>two</string>
    <string>u</string>
    <string>u10450</string>
    <string>u10451</string>
    <string>u10452</string>
    <string>u10453</string>
    <string>u10454</string>
    <string>u10455</string>
    <string>u10456</string>
    <string>u10457</string>
    <string>u10458</string>
    <string>u10459</string>
    <string>u1045A</string>
    <string>u1045B</string>
    <string>u1045C</string>
    <string>u1045D</string>
    <string>u1045E</string>
    <string>u1045F</string>
    <string>u10460</string>
    <string>u10461</string>
    <string>u10462</string>
    <string>u10463</string>
    <string>u10464</string>
    <string>u10465</string>
    <string>u10466</string>
    <string>u10467</string>
    <string>u10468</string>
    <string>u10469</string>
    <string>u1046A</string>
    <string>u1046B</string>
    <string>u1046C</string>
    <string>u1046D</string>
    <string>u1046E</string>
    <string>u1046F</string>
    <string>u10470</string>
    <string>u10471</string>
    <string>u10472</string>
    <string>u10473</string>
    <string>u10474</string>
    <string>u10475</string>
    <string>u10476</string>
    <string>u10477</string>
    <string>u10478</string>
    <string>u10479</string>
    <string>u1047A</string>
    <string>u1047B</string>
    <string>u1047C</string>
    <string>u1047D</string>
    <string>u1047E</string>
    <string>u1047F</string>
    <string>u107B9</string>
    <string>u1D1EB</string>
    <string>u1D1EC</string>
    <string>u1D1ED</string>
    <string>u1D1EE</string>
    <string>u1DF04</string>
    <string>u1DF05</string>
    <string>u1DF06</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>underscore</string>
    <string>uni000D</string>
    <string>uni00AC</string>
    <string>uni00AD</string>
    <string>uni00B1</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni00B5</string>
    <string>uni00B9</string>
    <string>uni00BC</string>
    <string>uni00BD</string>
    <string>uni00BE</string>
    <string>uni0108</string>
    <string>uni0109</string>
    <string>uni0114</string>
    <string>uni0115</string>
    <string>uni011C</string>
    <string>uni011D</string>
    <string>uni0124</string>
    <string>uni0125</string>
    <string>uni0128</string>
    <string>uni0129</string>
    <string>uni012C</string>
    <string>uni012D</string>
    <string>uni0132</string>
    <string>uni0133</string>
    <string>uni0134</string>
    <string>uni0135</string>
    <string>uni0138</string>
    <string>uni013F</string>
    <string>uni0140</string>
    <string>uni0149</string>
    <string>uni014A</string>
    <string>uni014B</string>
    <string>uni014C</string>
    <string>uni014D</string>
    <string>uni014E</string>
    <string>uni014F</string>
    <string>uni0156</string>
    <string>uni0157</string>
    <string>uni015C</string>
    <string>uni015D</string>
    <string>uni0162</string>
    <string>uni0163</string>
    <string>uni0166</string>
    <string>uni0167</string>
    <string>uni0168</string>
    <string>uni0169</string>
    <string>uni016C</string>
    <string>uni016D</string>
    <string>uni017F</string>
    <string>uni018E</string>
    <string>uni018F</string>
    <string>uni0190</string>
    <string>uni01A0</string>
    <string>uni01A1</string>
    <string>uni01AF</string>
    <string>uni01B0</string>
    <string>uni01B7</string>
    <string>uni01C0</string>
    <string>uni01C1</string>
    <string>uni01C3</string>
    <string>uni01CD</string>
    <string>uni01CE</string>
    <string>uni01CF</string>
    <string>uni01D0</string>
    <string>uni01D1</string>
    <string>uni01D2</string>
    <string>uni01D3</string>
    <string>uni01D4</string>
    <string>uni01D5</string>
    <string>uni01D6</string>
    <string>uni01D7</string>
    <string>uni01D8</string>
    <string>uni01D9</string>
    <string>uni01DA</string>
    <string>uni01DB</string>
    <string>uni01DC</string>
    <string>uni01DD</string>
    <string>uni01DE</string>
    <string>uni01DF</string>
    <string>uni01E0</string>
    <string>uni01E1</string>
    <string>uni01E2</string>
    <string>uni01E3</string>
    <string>uni01E6</string>
    <string>uni01E7</string>
    <string>uni01E8</string>
    <string>uni01E9</string>
    <string>uni01EA</string>
    <string>uni01EB</string>
    <string>uni01EC</string>
    <string>uni01ED</string>
    <string>uni01EE</string>
    <string>uni01EF</string>
    <string>uni01F0</string>
    <string>uni01F4</string>
    <string>uni01F5</string>
    <string>uni01F8</string>
    <string>uni01F9</string>
    <string>uni01FA</string>
    <string>uni01FB</string>
    <string>uni01FC</string>
    <string>uni01FD</string>
    <string>uni01FE</string>
    <string>uni01FF</string>
    <string>uni021E</string>
    <string>uni021F</string>
    <string>uni0226</string>
    <string>uni0227</string>
    <string>uni0228</string>
    <string>uni0229</string>
    <string>uni022A</string>
    <string>uni022B</string>
    <string>uni022C</string>
    <string>uni022D</string>
    <string>uni022E</string>
    <string>uni022F</string>
    <string>uni0230</string>
    <string>uni0231</string>
    <string>uni0232</string>
    <string>uni0233</string>
    <string>uni0250</string>
    <string>uni0251</string>
    <string>uni0252</string>
    <string>uni0253</string>
    <string>uni0254</string>
    <string>uni0255</string>
    <string>uni0256</string>
    <string>uni0257</string>
    <string>uni0258</string>
    <string>uni0259</string>
    <string>uni025A</string>
    <string>uni025B</string>
    <string>uni025C</string>
    <string>uni025D</string>
    <string>uni025E</string>
    <string>uni025F</string>
    <string>uni0260</string>
    <string>uni0261</string>
    <string>uni0262</string>
    <string>uni0263</string>
    <string>uni0264</string>
    <string>uni0265</string>
    <string>uni0266</string>
    <string>uni0267</string>
    <string>uni0268</string>
    <string>uni0269</string>
    <string>uni026A</string>
    <string>uni026B</string>
    <string>uni026C</string>
    <string>uni026D</string>
    <string>uni026E</string>
    <string>uni026F</string>
    <string>uni0270</string>
    <string>uni0271</string>
    <string>uni0272</string>
    <string>uni0273</string>
    <string>uni0274</string>
    <string>uni0275</string>
    <string>uni0276</string>
    <string>uni0277</string>
    <string>uni0278</string>
    <string>uni0279</string>
    <string>uni027A</string>
    <string>uni027B</string>
    <string>uni027C</string>
    <string>uni027D</string>
    <string>uni027E</string>
    <string>uni027F</string>
    <string>uni0280</string>
    <string>uni0281</string>
    <string>uni0282</string>
    <string>uni0283</string>
    <string>uni0284</string>
    <string>uni0285</string>
    <string>uni0286</string>
    <string>uni0287</string>
    <string>uni0288</string>
    <string>uni0289</string>
    <string>uni028A</string>
    <string>uni028B</string>
    <string>uni028C</string>
    <string>uni028D</string>
    <string>uni028E</string>
    <string>uni028F</string>
    <string>uni0290</string>
    <string>uni0291</string>
    <string>uni0292</string>
    <string>uni0293</string>
    <string>uni0294</string>
    <string>uni0295</string>
    <string>uni0296</string>
    <string>uni0297</string>
    <string>uni0298</string>
    <string>uni0299</string>
    <string>uni029A</string>
    <string>uni029B</string>
    <string>uni029C</string>
    <string>uni029D</string>
    <string>uni029E</string>
    <string>uni029F</string>
    <string>uni02A0</string>
    <string>uni02A1</string>
    <string>uni02A2</string>
    <string>uni02A3</string>
    <string>uni02A4</string>
    <string>uni02A5</string>
    <string>uni02A6</string>
    <string>uni02A7</string>
    <string>uni02A8</string>
    <string>uni02A9</string>
    <string>uni02AA</string>
    <string>uni02AB</string>
    <string>uni02AC</string>
    <string>uni02AD</string>
    <string>uni02AE</string>
    <string>uni02AF</string>
    <string>uni02B0</string>
    <string>uni02B1</string>
    <string>uni02B2</string>
    <string>uni02B3</string>
    <string>uni02B4</string>
    <string>uni02B5</string>
    <string>uni02B6</string>
    <string>uni02B7</string>
    <string>uni02B8</string>
    <string>uni02B9</string>
    <string>uni02BA</string>
    <string>uni02BB</string>
    <string>uni02BC</string>
    <string>uni02BD</string>
    <string>uni02BE</string>
    <string>uni02BF</string>
    <string>uni02C0</string>
    <string>uni02C1</string>
    <string>uni02C2</string>
    <string>uni02C3</string>
    <string>uni02C4</string>
    <string>uni02C5</string>
    <string>uni02C8</string>
    <string>uni02C9</string>
    <string>uni02CC</string>
    <string>uni02D0</string>
    <string>uni02D1</string>
    <string>uni02DE</string>
    <string>uni02DF</string>
    <string>uni02E0</string>
    <string>uni02E1</string>
    <string>uni02E2</string>
    <string>uni02E4</string>
    <string>uni02E5</string>
    <string>uni02E6</string>
    <string>uni02E7</string>
    <string>uni02E8</string>
    <string>uni02E9</string>
    <string>uni0309</string>
    <string>uni030D</string>
    <string>uni030F</string>
    <string>uni0311</string>
    <string>uni0312</string>
    <string>uni0313</string>
    <string>uni0316</string>
    <string>uni0317</string>
    <string>uni0318</string>
    <string>uni0319</string>
    <string>uni031A</string>
    <string>uni031C</string>
    <string>uni031D</string>
    <string>uni031E</string>
    <string>uni031F</string>
    <string>uni0320</string>
    <string>uni0323</string>
    <string>uni0324</string>
    <string>uni0325</string>
    <string>uni0329</string>
    <string>uni032A</string>
    <string>uni032B</string>
    <string>uni032C</string>
    <string>uni032D</string>
    <string>uni032E</string>
    <string>uni032F</string>
    <string>uni0330</string>
    <string>uni0331</string>
    <string>uni0332</string>
    <string>uni033A</string>
    <string>uni033D</string>
    <string>uni034D</string>
    <string>uni0372</string>
    <string>uni0373</string>
    <string>uni037A</string>
    <string>uni037B</string>
    <string>uni037E</string>
    <string>uni037F</string>
    <string>uni0384</string>
    <string>uni0385</string>
    <string>uni0386</string>
    <string>uni0387</string>
    <string>uni0388</string>
    <string>uni0389</string>
    <string>uni038A</string>
    <string>uni038C</string>
    <string>uni038E</string>
    <string>uni038F</string>
    <string>uni0390</string>
    <string>uni0391</string>
    <string>uni0392</string>
    <string>uni0393</string>
    <string>uni0394</string>
    <string>uni0395</string>
    <string>uni0396</string>
    <string>uni0397</string>
    <string>uni0398</string>
    <string>uni0399</string>
    <string>uni039A</string>
    <string>uni039B</string>
    <string>uni039C</string>
    <string>uni039D</string>
    <string>uni039E</string>
    <string>uni039F</string>
    <string>uni03A0</string>
    <string>uni03A1</string>
    <string>uni03A3</string>
    <string>uni03A4</string>
    <string>uni03A5</string>
    <string>uni03A6</string>
    <string>uni03A7</string>
    <string>uni03A8</string>
    <string>uni03A9</string>
    <string>uni03AA</string>
    <string>uni03AB</string>
    <string>uni03AC</string>
    <string>uni03AD</string>
    <string>uni03AE</string>
    <string>uni03AF</string>
    <string>uni03B0</string>
    <string>uni03B1</string>
    <string>uni03B2</string>
    <string>uni03B3</string>
    <string>uni03B4</string>
    <string>uni03B5</string>
    <string>uni03B6</string>
    <string>uni03B7</string>
    <string>uni03B8</string>
    <string>uni03B9</string>
    <string>uni03BA</string>
    <string>uni03BB</string>
    <string>uni03BC</string>
    <string>uni03BD</string>
    <string>uni03BE</string>
    <string>uni03BF</string>
    <string>uni03C0</string>
    <string>uni03C1</string>
    <string>uni03C2</string>
    <string>uni03C3</string>
    <string>uni03C4</string>
    <string>uni03C5</string>
    <string>uni03C6</string>
    <string>uni03C7</string>
    <string>uni03C8</string>
    <string>uni03C9</string>
    <string>uni03CA</string>
    <string>uni03CB</string>
    <string>uni03CC</string>
    <string>uni03CD</string>
    <string>uni03CE</string>
    <string>uni03CF</string>
    <string>uni03D0</string>
    <string>uni03D1</string>
    <string>uni03D2</string>
    <string>uni03D3</string>
    <string>uni03D4</string>
    <string>uni03D5</string>
    <string>uni03D6</string>
    <string>uni03D8</string>
    <string>uni03D9</string>
    <string>uni03DB</string>
    <string>uni03DC</string>
    <string>uni03DD</string>
    <string>uni03E0</string>
    <string>uni03E1</string>
    <string>uni03F2</string>
    <string>uni03F3</string>
    <string>uni03F5</string>
    <string>uni03F6</string>
    <string>uni03F7</string>
    <string>uni03F8</string>
    <string>uni03F9</string>
    <string>uni03FA</string>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0402</string>
    <string>uni0403</string>
    <string>uni0404</string>
    <string>uni0405</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni0408</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni040B</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040E</string>
    <string>uni040F</string>
    <string>uni0410</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0414</string>
    <string>uni0415</string>
    <string>uni0416</string>
    <string>uni0417</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041E</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0421</string>
    <string>uni0422</string>
    <string>uni0423</string>
    <string>uni0424</string>
    <string>uni0425</string>
    <string>uni0426</string>
    <string>uni0427</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042A</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042D</string>
    <string>uni042E</string>
    <string>uni042F</string>
    <string>uni0430</string>
    <string>uni0431</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0435</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043C</string>
    <string>uni043D</string>
    <string>uni043E</string>
    <string>uni043F</string>
    <string>uni0440</string>
    <string>uni0441</string>
    <string>uni0442</string>
    <string>uni0443</string>
    <string>uni0444</string>
    <string>uni0445</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044D</string>
    <string>uni044E</string>
    <string>uni044F</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0452</string>
    <string>uni0453</string>
    <string>uni0454</string>
    <string>uni0455</string>
    <string>uni0456</string>
    <string>uni0457</string>
    <string>uni0458</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni045B</string>
    <string>uni045C</string>
    <string>uni045D</string>
    <string>uni045E</string>
    <string>uni045F</string>
    <string>uni0460</string>
    <string>uni0462</string>
    <string>uni0463</string>
    <string>uni048C</string>
    <string>uni048D</string>
    <string>uni0490</string>
    <string>uni0491</string>
    <string>uni04D0</string>
    <string>uni04D1</string>
    <string>uni04D2</string>
    <string>uni04D3</string>
    <string>uni04D4</string>
    <string>uni04D5</string>
    <string>uni04D6</string>
    <string>uni04D7</string>
    <string>uni04D8</string>
    <string>uni04D9</string>
    <string>uni04DA</string>
    <string>uni04DB</string>
    <string>uni04DC</string>
    <string>uni04DD</string>
    <string>uni04DE</string>
    <string>uni04DF</string>
    <string>uni04E0</string>
    <string>uni04E1</string>
    <string>uni04E2</string>
    <string>uni04E3</string>
    <string>uni04E4</string>
    <string>uni04E5</string>
    <string>uni04E6</string>
    <string>uni04E7</string>
    <string>uni04E8</string>
    <string>uni04E9</string>
    <string>uni04EA</string>
    <string>uni04EB</string>
    <string>uni04EC</string>
    <string>uni04ED</string>
    <string>uni04EE</string>
    <string>uni04EF</string>
    <string>uni04F0</string>
    <string>uni04F1</string>
    <string>uni04F2</string>
    <string>uni04F3</string>
    <string>uni04F4</string>
    <string>uni04F5</string>
    <string>uni04F8</string>
    <string>uni04F9</string>
    <string>uni1D4A</string>
    <string>uni1D61</string>
    <string>uni1D91</string>
    <string>uni1DBF</string>
    <string>uni1EA0</string>
    <string>uni1EA1</string>
    <string>uni1EA2</string>
    <string>uni1EA3</string>
    <string>uni1EA4</string>
    <string>uni1EA5</string>
    <string>uni1EA6</string>
    <string>uni1EA7</string>
    <string>uni1EA8</string>
    <string>uni1EA9</string>
    <string>uni1EAA</string>
    <string>uni1EAB</string>
    <string>uni1EAC</string>
    <string>uni1EAD</string>
    <string>uni1EAE</string>
    <string>uni1EAF</string>
    <string>uni1EB0</string>
    <string>uni1EB1</string>
    <string>uni1EB2</string>
    <string>uni1EB3</string>
    <string>uni1EB4</string>
    <string>uni1EB5</string>
    <string>uni1EB6</string>
    <string>uni1EB7</string>
    <string>uni1EB8</string>
    <string>uni1EB9</string>
    <string>uni1EBA</string>
    <string>uni1EBB</string>
    <string>uni1EBC</string>
    <string>uni1EBD</string>
    <string>uni1EBE</string>
    <string>uni1EBF</string>
    <string>uni1EC0</string>
    <string>uni1EC1</string>
    <string>uni1EC2</string>
    <string>uni1EC3</string>
    <string>uni1EC4</string>
    <string>uni1EC5</string>
    <string>uni1EC6</string>
    <string>uni1EC7</string>
    <string>uni1EC8</string>
    <string>uni1EC9</string>
    <string>uni1ECA</string>
    <string>uni1ECB</string>
    <string>uni1ECC</string>
    <string>uni1ECD</string>
    <string>uni1ECE</string>
    <string>uni1ECF</string>
    <string>uni1ED0</string>
    <string>uni1ED1</string>
    <string>uni1ED2</string>
    <string>uni1ED3</string>
    <string>uni1ED4</string>
    <string>uni1ED5</string>
    <string>uni1ED6</string>
    <string>uni1ED7</string>
    <string>uni1ED8</string>
    <string>uni1ED9</string>
    <string>uni1EDA</string>
    <string>uni1EDB</string>
    <string>uni1EDC</string>
    <string>uni1EDD</string>
    <string>uni1EDE</string>
    <string>uni1EDF</string>
    <string>uni1EE0</string>
    <string>uni1EE1</string>
    <string>uni1EE2</string>
    <string>uni1EE3</string>
    <string>uni1EE4</string>
    <string>uni1EE5</string>
    <string>uni1EE6</string>
    <string>uni1EE7</string>
    <string>uni1EE8</string>
    <string>uni1EE9</string>
    <string>uni1EEA</string>
    <string>uni1EEB</string>
    <string>uni1EEC</string>
    <string>uni1EED</string>
    <string>uni1EEE</string>
    <string>uni1EEF</string>
    <string>uni1EF0</string>
    <string>uni1EF1</string>
    <string>uni1EF4</string>
    <string>uni1EF5</string>
    <string>uni1EF6</string>
    <string>uni1EF7</string>
    <string>uni1EF8</string>
    <string>uni1EF9</string>
    <string>uni1F00</string>
    <string>uni1F01</string>
    <string>uni1F02</string>
    <string>uni1F03</string>
    <string>uni1F04</string>
    <string>uni1F05</string>
    <string>uni1F06</string>
    <string>uni1F07</string>
    <string>uni1F08</string>
    <string>uni1F09</string>
    <string>uni1F0A</string>
    <string>uni1F0B</string>
    <string>uni1F0C</string>
    <string>uni1F0D</string>
    <string>uni1F0E</string>
    <string>uni1F0F</string>
    <string>uni1F10</string>
    <string>uni1F11</string>
    <string>uni1F12</string>
    <string>uni1F13</string>
    <string>uni1F14</string>
    <string>uni1F15</string>
    <string>uni1F18</string>
    <string>uni1F19</string>
    <string>uni1F1A</string>
    <string>uni1F1B</string>
    <string>uni1F1C</string>
    <string>uni1F1D</string>
    <string>uni1F20</string>
    <string>uni1F21</string>
    <string>uni1F22</string>
    <string>uni1F23</string>
    <string>uni1F24</string>
    <string>uni1F25</string>
    <string>uni1F26</string>
    <string>uni1F27</string>
    <string>uni1F28</string>
    <string>uni1F29</string>
    <string>uni1F2A</string>
    <string>uni1F2B</string>
    <string>uni1F2C</string>
    <string>uni1F2D</string>
    <string>uni1F2E</string>
    <string>uni1F2F</string>
    <string>uni1F30</string>
    <string>uni1F31</string>
    <string>uni1F32</string>
    <string>uni1F33</string>
    <string>uni1F34</string>
    <string>uni1F35</string>
    <string>uni1F36</string>
    <string>uni1F37</string>
    <string>uni1F38</string>
    <string>uni1F39</string>
    <string>uni1F3A</string>
    <string>uni1F3B</string>
    <string>uni1F3C</string>
    <string>uni1F3D</string>
    <string>uni1F3E</string>
    <string>uni1F3F</string>
    <string>uni1F40</string>
    <string>uni1F41</string>
    <string>uni1F42</string>
    <string>uni1F43</string>
    <string>uni1F44</string>
    <string>uni1F45</string>
    <string>uni1F48</string>
    <string>uni1F49</string>
    <string>uni1F4A</string>
    <string>uni1F4B</string>
    <string>uni1F4C</string>
    <string>uni1F4D</string>
    <string>uni1F50</string>
    <string>uni1F51</string>
    <string>uni1F52</string>
    <string>uni1F53</string>
    <string>uni1F54</string>
    <string>uni1F55</string>
    <string>uni1F56</string>
    <string>uni1F57</string>
    <string>uni1F59</string>
    <string>uni1F5B</string>
    <string>uni1F5D</string>
    <string>uni1F5F</string>
    <string>uni1F60</string>
    <string>uni1F61</string>
    <string>uni1F62</string>
    <string>uni1F63</string>
    <string>uni1F64</string>
    <string>uni1F65</string>
    <string>uni1F66</string>
    <string>uni1F67</string>
    <string>uni1F68</string>
    <string>uni1F69</string>
    <string>uni1F6A</string>
    <string>uni1F6B</string>
    <string>uni1F6C</string>
    <string>uni1F6D</string>
    <string>uni1F6E</string>
    <string>uni1F6F</string>
    <string>uni1F70</string>
    <string>uni1F71</string>
    <string>uni1F72</string>
    <string>uni1F73</string>
    <string>uni1F74</string>
    <string>uni1F75</string>
    <string>uni1F76</string>
    <string>uni1F77</string>
    <string>uni1F78</string>
    <string>uni1F79</string>
    <string>uni1F7A</string>
    <string>uni1F7B</string>
    <string>uni1F7C</string>
    <string>uni1F7D</string>
    <string>uni1F80</string>
    <string>uni1F81</string>
    <string>uni1F82</string>
    <string>uni1F83</string>
    <string>uni1F84</string>
    <string>uni1F85</string>
    <string>uni1F86</string>
    <string>uni1F87</string>
    <string>uni1F88</string>
    <string>uni1F89</string>
    <string>uni1F8A</string>
    <string>uni1F8B</string>
    <string>uni1F8C</string>
    <string>uni1F8D</string>
    <string>uni1F8E</string>
    <string>uni1F8F</string>
    <string>uni1F90</string>
    <string>uni1F91</string>
    <string>uni1F92</string>
    <string>uni1F93</string>
    <string>uni1F94</string>
    <string>uni1F95</string>
    <string>uni1F96</string>
    <string>uni1F97</string>
    <string>uni1F98</string>
    <string>uni1F99</string>
    <string>uni1F9A</string>
    <string>uni1F9B</string>
    <string>uni1F9C</string>
    <string>uni1F9D</string>
    <string>uni1F9E</string>
    <string>uni1F9F</string>
    <string>uni1FA0</string>
    <string>uni1FA1</string>
    <string>uni1FA2</string>
    <string>uni1FA3</string>
    <string>uni1FA4</string>
    <string>uni1FA5</string>
    <string>uni1FA6</string>
    <string>uni1FA7</string>
    <string>uni1FA8</string>
    <string>uni1FA9</string>
    <string>uni1FAA</string>
    <string>uni1FAB</string>
    <string>uni1FAC</string>
    <string>uni1FAD</string>
    <string>uni1FAE</string>
    <string>uni1FAF</string>
    <string>uni1FB0</string>
    <string>uni1FB1</string>
    <string>uni1FB2</string>
    <string>uni1FB3</string>
    <string>uni1FB4</string>
    <string>uni1FB6</string>
    <string>uni1FB7</string>
    <string>uni1FB8</string>
    <string>uni1FB9</string>
    <string>uni1FBA</string>
    <string>uni1FBB</string>
    <string>uni1FBC</string>
    <string>uni1FBD</string>
    <string>uni1FBE</string>
    <string>uni1FBF</string>
    <string>uni1FC0</string>
    <string>uni1FC1</string>
    <string>uni1FC2</string>
    <string>uni1FC3</string>
    <string>uni1FC4</string>
    <string>uni1FC6</string>
    <string>uni1FC7</string>
    <string>uni1FC8</string>
    <string>uni1FC9</string>
    <string>uni1FCA</string>
    <string>uni1FCB</string>
    <string>uni1FCC</string>
    <string>uni1FCD</string>
    <string>uni1FCE</string>
    <string>uni1FCF</string>
    <string>uni1FD0</string>
    <string>uni1FD1</string>
    <string>uni1FD2</string>
    <string>uni1FD3</string>
    <string>uni1FD6</string>
    <string>uni1FD7</string>
    <string>uni1FD8</string>
    <string>uni1FD9</string>
    <string>uni1FDA</string>
    <string>uni1FDB</string>
    <string>uni1FDD</string>
    <string>uni1FDE</string>
    <string>uni1FDF</string>
    <string>uni1FE0</string>
    <string>uni1FE1</string>
    <string>uni1FE2</string>
    <string>uni1FE3</string>
    <string>uni1FE4</string>
    <string>uni1FE5</string>
    <string>uni1FE6</string>
    <string>uni1FE7</string>
    <string>uni1FE8</string>
    <string>uni1FE9</string>
    <string>uni1FEA</string>
    <string>uni1FEB</string>
    <string>uni1FEC</string>
    <string>uni1FED</string>
    <string>uni1FEE</string>
    <string>uni1FEF</string>
    <string>uni1FF2</string>
    <string>uni1FF3</string>
    <string>uni1FF4</string>
    <string>uni1FF6</string>
    <string>uni1FF7</string>
    <string>uni1FF8</string>
    <string>uni1FF9</string>
    <string>uni1FFA</string>
    <string>uni1FFB</string>
    <string>uni1FFC</string>
    <string>uni1FFD</string>
    <string>uni1FFE</string>
    <string>uni2010</string>
    <string>uni2011</string>
    <string>uni2012</string>
    <string>uni2015</string>
    <string>uni201B</string>
    <string>uni201F</string>
    <string>uni2020</string>
    <string>uni2021</string>
    <string>uni2023</string>
    <string>uni2024</string>
    <string>uni2025</string>
    <string>uni2027</string>
    <string>uni2030</string>
    <string>uni203C</string>
    <string>uni203D</string>
    <string>uni203F</string>
    <string>uni2040</string>
    <string>fraction</string>
    <string>uni2047</string>
    <string>uni2048</string>
    <string>uni2049</string>
    <string>uni2050</string>
    <string>uni2074</string>
    <string>uni207F</string>
    <string>uni20AB</string>
    <string>uni20AF</string>
    <string>uni20B4</string>
    <string>uni20BD</string>
    <string>uni2126</string>
    <string>uni2196</string>
    <string>uni2197</string>
    <string>uni2198</string>
    <string>uni2199</string>
    <string>uni2660</string>
    <string>uni2661</string>
    <string>uni2662</string>
    <string>uni2663</string>
    <string>uni2664</string>
    <string>uni2665</string>
    <string>uni2666</string>
    <string>uni2667</string>
    <string>uni2669</string>
    <string>uni266A</string>
    <string>uni266B</string>
    <string>uni266C</string>
    <string>uni266D</string>
    <string>uni266E</string>
    <string>uni266F</string>
    <string>uni2E18</string>
    <string>uni2E28</string>
    <string>uni2E29</string>
    <string>uni2E30</string>
    <string>uniA71B</string>
    <string>uniA71C</string>
    <string>uniA78E</string>
    <string>uniA79A</string>
    <string>uniA79B</string>
    <string>uniA79C</string>
    <string>uniA79D</string>
    <string>uniA79E</string>
    <string>uniA79F</string>
    <string>uniE000</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni045C.loclSRB</string>
    <string>uni0442.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uniE00D</string>
    <string>uni0453.loclSRB</string>
    <string>uniE00F</string>
    <string>uniE010</string>
    <string>uniE011</string>
    <string>uniE012</string>
    <string>uniE013</string>
    <string>uniE014</string>
    <string>uniE015</string>
    <string>uniE016</string>
    <string>uniE017</string>
    <string>uniE018</string>
    <string>uniE019</string>
    <string>uniE01A</string>
    <string>uniE01B</string>
    <string>uniE01C</string>
    <string>uniE01D</string>
    <string>uniE01E</string>
    <string>uniE01F</string>
    <string>uniE020</string>
    <string>uniE021</string>
    <string>uniE022</string>
    <string>uniE023</string>
    <string>uniE024</string>
    <string>uniE025</string>
    <string>uniE026</string>
    <string>uniE027</string>
    <string>uniE028</string>
    <string>uniE029</string>
    <string>uniE02A</string>
    <string>uniE02B</string>
    <string>uniE02C</string>
    <string>uniE02D</string>
    <string>uniE02E</string>
    <string>uniE02F</string>
    <string>uniE030</string>
    <string>uniE031</string>
    <string>uniE032</string>
    <string>uniE033</string>
    <string>uniE034</string>
    <string>uniE035</string>
    <string>uniE036</string>
    <string>uniE037</string>
    <string>uniE038</string>
    <string>uniE039</string>
    <string>uniE03A</string>
    <string>uniE03B</string>
    <string>uniE03C</string>
    <string>uniE03D</string>
    <string>uniE03E</string>
    <string>uniE03F</string>
    <string>uniE040</string>
    <string>uniE041</string>
    <string>uniE042</string>
    <string>uniE043</string>
    <string>uniE044</string>
    <string>uniE045</string>
    <string>uniE046</string>
    <string>uniE047</string>
    <string>uniE048</string>
    <string>uniE049</string>
    <string>uniE04A</string>
    <string>uniE04B</string>
    <string>uniE04C</string>
    <string>uniE04D</string>
    <string>uniE04E</string>
    <string>uniE04F</string>
    <string>uniE050</string>
    <string>uniE051</string>
    <string>uniE052</string>
    <string>uniE053</string>
    <string>uniE054</string>
    <string>uniE055</string>
    <string>uniE056</string>
    <string>uniE057</string>
    <string>uniE058</string>
    <string>uniE059</string>
    <string>uniE05A</string>
    <string>uniE05B</string>
    <string>uniE05C</string>
    <string>uniE05D</string>
    <string>uniE05E</string>
    <string>uniE05F</string>
    <string>uniE060</string>
    <string>uniE061</string>
    <string>uniE062</string>
    <string>uniE063</string>
    <string>uniE064</string>
    <string>uniE065</string>
    <string>uniE066</string>
    <string>uniE067</string>
    <string>uniE068</string>
    <string>uniE069</string>
    <string>uniE06A</string>
    <string>uniE06B</string>
    <string>uniE06C</string>
    <string>uniE06D</string>
    <string>uniE06E</string>
    <string>uniE06F</string>
    <string>uniE070</string>
    <string>uniE071</string>
    <string>uniE072</string>
    <string>uniE073</string>
    <string>uniE074</string>
    <string>uniE075</string>
    <string>uniE076</string>
    <string>uniE077</string>
    <string>uniE078</string>
    <string>uniE079</string>
    <string>uniE07A</string>
    <string>uniE07B</string>
    <string>uniE07C</string>
    <string>uniE07D</string>
    <string>uniE07E</string>
    <string>uniE07F</string>
    <string>uniE080</string>
    <string>uniE081</string>
    <string>uniE082</string>
    <string>uniE083</string>
    <string>uniE084</string>
    <string>uniE085</string>
    <string>uniE086</string>
    <string>uniE087</string>
    <string>uniE088</string>
    <string>uniE089</string>
    <string>uniE08A</string>
    <string>uniE08B</string>
    <string>uniE08C</string>
    <string>uniE08D</string>
    <string>uniE08E</string>
    <string>uniE08F</string>
    <string>uniE090</string>
    <string>uniE091</string>
    <string>uniE092</string>
    <string>uniE093</string>
    <string>uniE094</string>
    <string>uniE095</string>
    <string>uniE096</string>
    <string>uniE097</string>
    <string>uniE098</string>
    <string>uniE099</string>
    <string>uniE09A</string>
    <string>uniE09B</string>
    <string>uniE09C</string>
    <string>uniE09D</string>
    <string>uniE09E</string>
    <string>uniE09F</string>
    <string>uniE0A0</string>
    <string>uniE0A1</string>
    <string>uniE0A2</string>
    <string>uniE0A3</string>
    <string>uniE0A4</string>
    <string>uniE0A5</string>
    <string>uniE0A6</string>
    <string>uniE0A7</string>
    <string>uniE0A8</string>
    <string>uniE0A9</string>
    <string>uniE0AA</string>
    <string>uniE0AB</string>
    <string>uniE0AC</string>
    <string>uniE0AD</string>
    <string>uniE0AE</string>
    <string>uniE0AF</string>
    <string>uniE0B0</string>
    <string>uniE0B1</string>
    <string>uniE0B2</string>
    <string>uniE0B3</string>
    <string>uniE0B4</string>
    <string>uniE0B5</string>
    <string>uniE0B6</string>
    <string>uniE0B7</string>
    <string>uniE0B8</string>
    <string>uniE0B9</string>
    <string>uniE0BA</string>
    <string>uniE0BB</string>
    <string>uniE0BC</string>
    <string>uniE0BD</string>
    <string>uniE0BE</string>
    <string>uniE0BF</string>
    <string>uniE0C0</string>
    <string>uniE0C1</string>
    <string>uniFB00</string>
    <string>uniFB01</string>
    <string>uniFB02</string>
    <string>uniFB03</string>
    <string>uniFB04</string>
    <string>uniFFFD</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>v</string>
    <string>w</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>x</string>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
  </array>
</dict>
</plist>
